@charset 'utf-8';

body{
    position: relative;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: 500;
}

header{
    position:fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 100;
    .top{
        width: 100%;
        background-color: white;
        .header-container{
            max-width: 1600px;
            margin: 0 auto;
            padding: 10px;
            a{
                display: block;
                width: 260px;
                @media screen and (max-width: 767px){
                    width:calc(8.125rem + ((1vw - 3.2px) * 29.0828));
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    .bottom{
        width: 100%;
        background-color: #5b5247;
        .header-container{
            max-width: 1600px;
            margin: 0 auto;
            ul{
                li{
                    width:226px;
                    position: relative;
                    &::after{
                        content:'';
                        display: block;
                        position: absolute;
                        width: 1px;
                        height: 22px;
                        top: 50%;
                        right:0;
                        transform: translateY(-50%);
                        background-color: white;
                    }
                    a{
                        display: block;
                        padding: 13px;
                        color:white;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}