.nav .nav-item .nav-link:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.order-list > li span {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  margin-top: 20px;
}
.order-list > li:first-child strong {
  margin-top: 0;
}
.order-list > li .children-list ol li {
  cursor: -webkit-grab;
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d8d8d8;
  margin-top: -1px;
  font-size: 14px;
}
.order-list > li .children-list ol li:hover {
  background-color: #fafafa;
}
.order-list > li .children-list ol li:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.order-list > li .children-list ol li .index {
  padding: 3px 10px;
  border-right: 1px solid #d8d8d8;
}
.order-list > li .children-list ol li .item {
  padding: 3px 10px;
  text-align: left;
  width: 100%;
}
.order-list > li .children-list ol li .delete {
  padding: 3px 10px;
  border-left: 1px solid #d8d8d8;
}

.contact-table {
  width: 100%;
  overflow-x: scroll;
}
.contact-table table tr th {
  white-space: nowrap;
}
.contact-table table tr td:not(:last-child) {
  white-space: nowrap;
}
.contact-table table tr td:last-child {
  min-width: 300px;
}